header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard")
            img(src="/img/admin.png" alt="Admin Logo") 
            span ADMIN
      .col-9
        div(class="text-right")
          a(
              href=`${variableAll}/my-account`
              class="btn btn-warring btn-sm"
          ) #{user.fullName}
      
          a(
              href=`${variableAll}/auth/logout`
              class="btn btn-danger btn-sm"
          ) logout
          

             
