.slider 
  .inner-menu 
    ul 
      li 
        a(href=`${variableAll}/dashboard`) Overview
      li  
        a(href=`${variableAll}/product`) Product
      li  
        a(href=`${variableAll}/product-category`) product category
      li  
        a(href=`${variableAll}/product/recycle`) Recycle
      li  
        a(href=`${variableAll}/rolePower`) rights group
      li  
        a(href=`${variableAll}/rolePower/permission`) permission