extends ../../layout/layout.pug
include ../../mixin/pagination.pug
include ../../mixin/search.pug
include ../../mixin/table-tree.pug
include ../../mixin/change-multi.pug
include ../../mixin/filteringFeature.pug
block mains 
  main.content
    if(role.rolePower.includes('permission-view'))
      .card.mb-3
        .card-header Danh mục nhóm quyền
          .card-body
            .row 
              .col-8
              .col-4 
                if(role.rolePower.includes('permission-create'))
                  a( href =`${variableAll}/rolePower/creates`
                    class=`btn btn-sm ml-1 btn-outline-success`
                    ) Tạo mới nhóm quyền
            table(
              class = "table table-hover table-sm"
                      check-box-multi)
              thead                             
                  th STT 
                  th Nhóm quyền 
                  th Mô tả ngắn 
                  th Hành động
                  
              tbody 
                if(record.length  > 0)
                  each item, index in record
                    tr 
                      //- td #{pagination.itemPage*(pagination.currentPage - 1) + (index + 1)} 
                      td #{index + 1}
                      td #{item.title}
                      td #{item.description}
                      td 
                        a(href=`${variableAll}/rolePower/detail/${item.id}` class="btn btn-outline-info btn-sm") Chi tiết
                        if(role.rolePower.includes('permission-edit'))
                          a(href=`${variableAll}/rolePower/edit/${item.id}` class="btn btn-warning btn-sm ml-1") Sửa 
                        if(role.rolePower.includes('permission-delete'))
                          button(class="btn btn-danger btn-sm ml-1" delete-item
                              data-id=item.id) Xóa
                else
                  tr 
                    td(colspan="5") Không có quyền nào tồn tại