extends ../../layout/layout.pug

block mains
  main.content
    main.product-container
      //- Product Image
      .product-image
        img(src=`${record.thumbnail}` alt=`${record.title}`)

      //- Product Details
      .product-details
        h2 #{record.title}
        p.price #{record.price}
        if(record.stock)
          div(class="stock")
            span Số lượng: <b>#{record.stock}</b>
        p.description !{record.description}
        if(record.status)
          div(class="status")
            span Trạng thái: 
              if(record.status === "active")
                span(class="badge badge-success") Hoạt động
              else 
                span(class="badge badge-danger") Không hoạt động
        
        p.rating Rating: ⭐⭐⭐⭐☆ (4.5/5)
        a(href=`${variableAll}/product-category/edit/${record.id}` type="button") Chỉnh sửa 